<a href="https://colab.research.google.com/github/junanote/test_visualization/blob/master/21_0706_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
!pwd

/content

In [26]:
!ls -l ./Boston.csv

-rw-r--r-- 1 root root 37658 Jul  6 05:13 ./Boston.csv

In [58]:
pd.read_csv('./Boston.csv')

     Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0             1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1             2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2             3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3             4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4             5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2
..          ...      ...   ...    ...   ...  ...  ...      ...     ...    ...   ...
501         502  0.06263   0.0  11.93     0  ...  273     21.0  391.99   9.67  22.4
502         503  0.04527   0.0  11.93     0  ...  273     21.0  396.90   9.08  20.6
503         504  0.06076   0.0  11.93     0  ...  273     21.0  396.90   5.64  23.9
504         505  0.10959   0.0  11.93     0  ...  273     21.0  393.45   6.48  22.0
505         506  0.04741   0.0  11.93     0  ...  273     21.0  396.90   7.88  11.9

[506 rows x 15 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       506 non-null    float64
 1   1       507 non-null    object
 2   2       507 non-null    object
 3   3       507 non-null    object
 4   4       507 non-null    object
 5   5       507 non-null    object
 6   6       507 non-null    object
 7   7       507 non-null    object
 8   8       507 non-null    object
 9   9       507 non-null    object
 10  10      507 non-null    object
 11  11      507 non-null    object
 12  12      507 non-null    object
 13  13      507 non-null    object
 14  14      507 non-null    object
dtypes: float64(1), object(14)
memory usage: 59.5+ KB

In [33]:
df.describe()

                0
count  506.000000
mean   253.500000
std    146.213884
min      1.000000
25%    127.250000
50%    253.500000
75%    379.750000
max    506.000000

In [34]:
df[1].describe()

count         507
unique        505
top       0.01501
freq            2
Name: 1, dtype: object

In [35]:
df[2].describe()

count     507
unique     27
top         0
freq      372
Name: 2, dtype: object

In [37]:
df[3].describe()

count      507
unique      77
top       18.1
freq       132
Name: 3, dtype: object

In [39]:
df[4].describe()

count     507
unique      3
top         0
freq      471
Name: 4, dtype: object

In [40]:
df[5].describe()

count       507
unique       82
top       0.538
freq         23
Name: 5, dtype: object

In [41]:
df[6].describe()

count       507
unique      447
top       6.167
freq          3
Name: 6, dtype: object

In [42]:
df[7].describe()

count     507
unique    357
top       100
freq       43
Name: 7, dtype: object

In [43]:
df[8].describe()

count        507
unique       413
top       3.4952
freq           5
Name: 8, dtype: object

In [44]:
df[9].describe()

count     507
unique     10
top        24
freq      132
Name: 9, dtype: object

In [45]:
df[10].describe()

count     507
unique     67
top       666
freq      132
Name: 10, dtype: object

In [46]:
df[11].describe()

count      507
unique      47
top       20.2
freq       140
Name: 11, dtype: object

In [47]:
df[12].describe()

count       507
unique      358
top       396.9
freq        121
Name: 12, dtype: object

In [48]:
df[13].describe()

count      507
unique     456
top       7.79
freq         3
Name: 13, dtype: object

In [49]:
df[14].describe()

count     507
unique    230
top        50
freq       16
Name: 14, dtype: object

연속형 : crim, indus, nox, rm, dis, ptratio, black, 1stat
분류형 : chas, age, rad, tax

In [59]:
df.columns = ['0','crim','zn','indus' ,'chas','nox', 'rm', 'age','dis','rad','tax','ptratio', 'black', '1stat','medv']