<a href="https://colab.research.google.com/github/junanote/test_visualization/blob/master/datapreprocess_without_missing_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df = pd.read_excel('시도별 전출입 인구수.xlsx',header=0)

In [10]:
#df.info()
#df.head(5)
df.describe()

         전출지별   전입지별 1970 1971 1972 1973  ...  2012  2013   2014  2015  2016 2017
count      19    325  325  325  325  325  ...   325   325    325   325   325  325
unique     19     19  146  146  146  146  ...   323   320    321   324   322  323
top     울산광역시  울산광역시    -    -    -    -  ...  3913  1939  17144  1468  2616  947
freq        1     18  180  180  180  180  ...     2     2      2     2     2    2

[4 rows x 50 columns]

In [ ]:
df.fillna(methiid='ffi')